:root {
  --shadow: 0 0 20px rgba(33, 150, 243, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 50px;
  background-color: #f5f4fa;
}

.search-form {
  height: 100%;
  margin-left: 30px;
}

.search-input {
  width: 300px;
  padding: 18px 12px;
  height: 50px;
  background-color: #fff;
  border: 0.5px solid rgba(33, 150, 243, 0.2);
  border-radius: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  box-shadow: var(--shadow);
}

.search-input::placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.search-input:focus::placeholder {
  opacity: 0;
}

button,
button:active,
button:focus {
  outline: none;
}

.btn {
  display: inline-block;
  margin-left: 30px;
  border-radius: 30px;
  padding: 10px 32px;
  border: none;
  height: 50px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.5);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: var(--shadow);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.photo-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover {
  transform: scale(1.05);
}
.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
}

.stats-item i {
  margin-bottom: 5px;
  color: rgba(33, 150, 243, 0.5);
}

.is-hidden {
  display: none;
}
